<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shop-dashboard-styles.css" type="text/css">
    <link rel="icon" href="Logo.png">
    <script type="module" src="https://cdn.pika.dev/editable-table"></script>
    <title>Dashboard</title>    
</head>
<body>
    <h1><%=foundShop.name.toLocaleUpperCase()%></h1>
    <form action="/update-inventory" method="POST">
    <editable-table>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr>
<%                    var i = 0;    %>
<%              for (i=0;i < foundShop.inventory.products.length; i++){  %>
                    <tr>
                        <td><input name="product" autocomplete="off" value=<%=foundShop.inventory.products[i].toLocaleUpperCase()%>></td>
                        <td><input name="stock" type="text" autocomplete="off" value=<%=foundShop.inventory.stock[i]%>></td>
                    </tr>
<%                } %>
              <td>
                <input name="product" placeholder="New Product" autocomplete="off"/>
              </td>
              <td>
                <input name="stock" placeholder="Units" type="text" autocomplete="off"/>
              </td>
              <td>
                <span data-remove>×</span>
              </td>
            </tr>
          </tbody>
        </table>
      </editable-table>
      <input name="id" style="opacity: 0;" value=<%=foundShop._id%> >
    <button type="submit" class="btn btn-lg btn-primary">Update Inventory</button>
    </form>
</form>
</body>
</html>

<%- include('partials/footer') %>